
body {
    font-family: Comic Sans MS;
    font-size: 16px;
    background-color: #f7f;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.text-item {
    position: relative;
    width: 85px;
}

img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

p {
    display: inline;
}
