@import url("base.css");

.flex-container {
    display: flex;
    align-items: center;
}

.input-container {
    display: flex;
    margin-bottom: 4px;
}

.button-container {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 25px;
}

img {
    margin-top: 100px;
    margin-bottom: 25px;
}

label {
    margin-right: 10px;
}

input {
    flex-grow: 1;
}
