
.bracket-container {
	display: flex;
}

.bracket-match-row,
.bracket-spacing,
.bracket-spacing-t {
	display: flex;
	flex-direction: column;
}





.bracket-match-row {
	justify-content: space-around;
}

.bracket-match-container {
	display: flex;
	align-items: center;
}

.bracket-match {
	display: flex;
	flex-direction: column;
	min-width: 150px;
	border: 1px solid black;
}

.bracket-match-player {
	font-weight: bold;
}




.bracket-spacing {
	justify-content: space-around;
}

.bracket-line-pair {
	display: flex;
	flex-direction: column;
}

.bracket-vertical-line {
	flex-grow: 1;
	border-left: 1px solid black;
}

.bracket-horizontal-line {
	min-width: 20px;
	border-top: 1px solid black;
}

.bracket-horizontal-line-top {
	margin-bottom: 10px;
	min-width: 20px;
	border-top: 1px solid black;
}

.bracket-horizontal-line-bottom {
	margin-top: 10px;
	min-width: 20px;
	border-top: 1px solid black;
}

.invisible-24 {
	min-height: 24px;
	border-left: 1px solid red;
}

.invisible-20 {
	min-height: 20px;
	border-left: 1px solid red;
}

.invisible-47 {
	min-height: 47px;
	border-left: 1px solid red;
}

.visible-14 {
	min-height: 14px;
	border-left: 1px solid black;
}

.visible-15 {
	min-height: 15px;
	border-left: 1px solid black;
}