@import url("base.css");
@import url("detailed_match.css");

* {
    background-color: #a9a9a9;
}

section {
    margin: 10px 0 10px 0;
}

h2 {
    border-bottom: 2px solid gray;
}

p {
    font-size: 14px;
}

.header {
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-end;
    height: 25px;
}

.header-button {
    margin-left: 10px;
}

.navigation {
    display: flex;
    height: 100px;
}

.navigation img {
    width: 200px;
    background-color: #e3dac9;
}

.tab-container {
    display: flex;
    flex-grow: 1;
    align-items: flex-end;
    padding-left: 50px;
    background-color: #e3dac9;
}

.tab {
    flex-shrink: 0;
    margin-left: 20px;
    padding: 10px 10px 10px 10px;
    background-color: #888;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.tab,
.header-button {
    font-size: 16px;
}

.tournament-list-container {
    display: flex;
    flex-direction: column;
    flex-basis: 150px;
    flex-shrink: 0;
}

.tournament-list-item {
    margin-top: 20px;
    border-bottom: 1px solid gray; 
}

.tournament-container {
    flex: 1 1 auto;
}

.tournament-header-container {
    display: flex;
    justify-content: space-between;
}

.tournament-rankings {
    flex-basis: 400px;
    flex-shrink: 0;
}

.tournament-information {
    flex-basis: 250px;
    flex-shrink: 0;
    height: 250px;
}

/*
div {
    border: 1px dashed red;
}


p {
    border: 1px dashed lime;
}
*/


.footer {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}