
* {
    font-family: Comic Sans MS;
    background-color: #f9f;
    margin: 0;
    padding: 0;
}

.column-container,
.row-container {
    display: flex;
}

.column-container {
    flex-direction: column;
}
