
.red-button,
.green-button,
.blue-button,
.orange-button {
	text-align: center;
	padding: 4px 8px 4px 8px;
	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.red-button {
	background-color: #ffc7ce;
	color: #ad2933;
	border-color: #ad2933;
}

.red-button:hover {
	background-blend-mode: multiply;
	background-color: #ff667a;
	color: #000;
	border-color: #000;
}

.green-button {
	background-color: #c6efce;
	color: #1a7e50;
	border-color: #1a7e50;
}

.green-button:hover {
	background-blend-mode: multiply;
	background-color: #5eed78;
	color: #000;
	border-color: #000;
}

.blue-button {
	background-color: #c7ceff;
	color: #1a507e;
	border-color: #1a507e;
}

.blue-button:hover {
	background-blend-mode: multiply;
	background-color: #5e78ed;
	color: #000;
	border-color: #000;
}

.orange-button {
	background-color: #FFC166;
	color: #913A00;
	border-color: #913A00;
}

.orange-button:hover {
	background-blend-mode: multiply;
	background-color: #FF9400;
	color: #000;
	border-color: #000;
}
