
.red-button,
.green-button,
.blue-button,
.orange-button {
	text-align: center;
	padding: 4px 8px 4px 8px;
	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.red-button {
	background-color: #ffc7ce;
	color: #ad2933;
	border-color: #ad2933;
}

.red-button:hover {
	background-blend-mode: multiply;
	background-color: #ff667a;
	color: #000;
	border-color: #000;
}

.red-button:active {
	background-color: #ff324e;
}

.green-button {
	background-color: #c6efce;
	color: #1a7e50;
	border-color: #1a7e50;
}

.green-button:hover {
	background-blend-mode: multiply;
	background-color: #66ff7f;
	color: #000;
	border-color: #000;
}

.green-button:active {
	background-color: #19ff3b;
}

.blue-button {
	background-color: #c7ceff;
	color: #1a507e;
	border-color: #1a507e;
}

.blue-button:hover {
	background-blend-mode: multiply;
	background-color: #6682ff;
	color: #000;
	border-color: #000;
}

.blue-button:active {
	background-color: #3258ff;
}

.orange-button {
	background-color: #ffc166;
	color: #913a00;
	border-color: #913a00;
}

.orange-button:hover {
	background-blend-mode: multiply;
	background-color: #ff9400;
	color: #000;
	border-color: #000;
}

.orange-button:active {
	background-color: #d87a00;
}
