@import url("base.css");
@import url("buttons.css");
@import url("value_setting.css");
@import url("group_stage.css");

.creation-stage-container {
	
}

.creation-stage {
	border: 1px solid black;
	border-radius: 5px;
	padding: 15px 20px 5px 20px;
	margin-bottom: 5px;
}

.creation-stage-header {
	border-bottom: 2px solid black;
	font-size: 24px;
	font-weight: bold;
}

.creation-group-container {
	display: flex;
	flex-direction: column;
}

.creation-control-panel,
.creation-control-panel-column {
	display: flex;
	margin: 5px 0 5px 0;
}

.creation-control-panel-column {
	flex-direction: column;
}

.creation-control-panel-button {
	background-color: red;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.creation-control-panel-button:hover {
	background-color: lime;
}

.creation-remove-group-button {
	flex-basis: 0 0 auto;
	margin-top: 5px;
}

.creation-stage-button {
	margin-right: 5px;
}

.creation-issue-container {
	
}

.creation-bracket-container {
	overflow: auto;
}

.creation-issue {
	font-style: italic;
	color: red;
}

.group-player-name input[type=text] {
    border:2px solid #ccc;
    width: 100%;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.group-player-name input[type=text]:focus {
    width: 100%;
    border-color:#333;
}

