
.detailed-match {
	display: flex;
	position: fixed;
	margin-left: 10px;
	border: 1px dashed red;
	z-index: 100;
}

.detailed-match-player {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	margin-right: 20px;
	border: 1px dashed lime;
}
