@import url("base.css");
@import url("buttons.css");
@import url("group_stage.css");

.creation-stage-container {
	
}

.creation-stage {
	
}

.creation-stage-header {
	font-size: 24px;
	font-weight: bold;
}

.creation-group-container {
	display: flex;
	flex-direction: column;
}

.creation-control-panel {
	display: flex;
	flex-direction: column;
	margin: 5px 0 5px 0;
}

.creation-control-panel-element {
	display: flex;
	margin: 3px 0 3px 0;
}

.creation-control-panel-button {
	background-color: red;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.creation-control-panel-button:hover {
	background-color: lime;
}

.creation-remove-group-button {
	flex-basis: 1 1 auto;
	margin-top: 6px;
}

.group-player-name input[type=text] {
    border:2px solid #ccc;
    width: 100%;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.group-player-name input[type=text]:focus {
    width: 100%;
    border-color:#333;
}

