@import url("base.css");

.group-container {
	display: flex;
}

.group-container table {
    border-collapse: collapse;
    margin-right: 25px;
}

.group-container th,
.group-container td {
    border: 1px solid gray;
    padding: 0 10px 0 10px;
}

.group-name-header {
	font-weight: bold;
    background-color: gray;
}

.group-time-header {
	font-size: 12px;
    background-color: #d3d3d3;
}

.group-player-rank,
.group-player-score,
.group-player-matches {
    text-align: center;
}

.group-player-rank,
.group-player-score {
    font-weight: bold;
}

.group-player-name {
    padding: 0 25px 0 10px;
}

.group-color-red {
	background-color: #fcc;
}

.group-color-green {
	background-color: #cfc;
}
