<!DOCTYPE html>
<html>
<head>
    <title>BHA-betting</title>
    <meta charset="utf-8">
    <meta name="description" content="Place your bets bois!">
    <link rel="stylesheet" href="../css/active_tournaments.css">
</head>
<body>
    <div class="column-container" style="">
        <div class="header"> <!-- HEADER -->
            <p>HEADER</p>
        </div>
        <div class="button-list"> <!-- BUTTON LIST -->
            <p>BUTTON LIST</p>
        </div>
        <div class="row-container"> <!-- TOURNAMENT LIST -->
            <div class="column-container">
                <p>Deltagande</p>
                <p>Öppna</p>
                <p>Klara</p>
            </div>
            <div class="tournament-container"> <!-- CURRENT TOURNAMENT -->
                <div class="tournament-header-container">
                    <div class="tournament-rankings"> <!-- RANKINGS -->
                        <p>RANKINGS</p>
                        
                    </div>
                    <div class="tournament-information"> <!-- INFORMATION -->
                        <p>INFORMATION</p>
                    </div>
                </div>
                <div>
                    <p>BRACKET</p>
                    <p>BRACKET</p>
                    <p>BRACKET</p>
                    <p>BRACKET</p>
                    <p>BRACKET</p>
                    <p>BRACKET</p>
                    <p>BRACKET</p>
                    <p>BRACKET</p>
                    <p>BRACKET</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
