<!DOCTYPE html>
<html>
<head>
    <title>BHA-betting</title>
    <meta charset="utf-8">
    <meta name="description" content="Place your bets bois!">
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
	<div style="height: 100%;">
		<section class="top">
			<img src="../resources/logo.png" alt="Fett med både syra å fett med spray!">
		</section>
		<section class="bottom">
			<br>
			<br>
			<table>
				<tr>
					<td width="70px">Email:</td>
					<td>
						<input type="text">
					</td>
				</tr>
				<tr>
					<td width="80px">Password:</td>
					<td>
						<input type="password">
					</td>
				</tr>
				<tr>
					<td/>
					<td>
						<input type="submit" value="Login">
					</td>
				</tr>
			</table>
		</section>
	</div>
</body>
</html>