<!DOCTYPE html>
<html>
<head>
    <title>BHA-betting</title>
    <meta charset="utf-8">
    <meta name="description" content="Place your bets bois!">
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
	<div style="height: 100px;"></div>
	<div class="flex-container" style="flex-direction: column;">
		<div>
			<img src="../resources/logo.png" alt="Fett med både syra å fett med spray!">
		</div>
		<div style="height: 25px;"></div>
		<div>
			<div class="flex-container">
				<div class="text-item">
					<p>Email:</p>
				</div>
				<div>
					<input type="text">
				</div>
			</div>
			<div class="flex-container">
				<div class="text-item">
					<p>Password:</p>
				</div>
				<div>
					<input type="password">
				</div>
			</div>
		</div>
	</div>
</body>
</html>
