<!DOCTYPE html>
<html>
<head>
    <title>BHA-betting</title>
    <meta charset="utf-8">
    <meta name="description" content="Place your bets bois!">
    <link rel="stylesheet" href="../css/better_table.css">
    <link rel="stylesheet" href="../css/group_stage.css">
    <link rel="stylesheet" href="../css/active_tournaments.css">
    <link rel="stylesheet" href="../packages/jquery_bracket/jquery.bracket.min.css">
    <script src="../javascript/jquery-3.3.1.js"></script>
    <script src="../packages/jquery_bracket/jquery.bracket.min.js"></script>
</head>
<body>
    <div class="column-container" style="">
        <div class="header">
            <button class="header-button">Inställningar</button>
            <button class="header-button">Logga ut</button>
        </div>
        <div class="navigation">
            <img src="../resources/logo.png" alt="Fett med både syra å fett med spray!">
            <div class="tab-container">
                <button class="tab">Turneringar</button>
                <button class="tab">Skapa turnering</button>
            </div>
        </div>
        <div class="row-container">
            <div class="tournament-list-container">
                <div class="tournament-list-item">Deltagande</div>
                <a href="">WCS 2018</a>
                <a href="">Africa E-leage</a>
                <div class="tournament-list-item">Öppna</div>
                <a href="">LCS 2018</a>
                <a href="">TI 45</a>
                <a href="">Top Quality Kek</a>
                <div class="tournament-list-item">Klara</div>
                <a href="">Meme Open</a>
            </div>
            <div class="tournament-container">
                <div class="tournament-header-container">
                    <div class="tournament-rankings">
                        <section>
                            <h2>Ranking</h2>
                        </section>
                        <div class="better-ranking-container">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Rank</th>
                                        <th>Namn</th>
                                        <th>Poäng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="better-ranking-rank better-ranking-gold">1</td>
                                        <td class="better-ranking-name better-ranking-gold">Hunden</td>
                                        <td class="better-ranking-score better-ranking-gold">512</td>
                                    </tr>
                                    <tr>
                                        <td class="better-ranking-rank better-ranking-silver">2</td>
                                        <td class="better-ranking-name better-ranking-silver">Bönis</td>
                                        <td class="better-ranking-score better-ranking-silver">256</td>
                                    </tr>
                                    <tr>
                                        <td class="better-ranking-rank better-ranking-bronze">3</td>
                                        <td class="better-ranking-name better-ranking-bronze">Guggmeister</td>
                                        <td class="better-ranking-score better-ranking-bronze">128</td>
                                    </tr>
                                    <tr>
                                        <td class="better-ranking-rank">4</td>
                                        <td class="better-ranking-name">Stålberto</td>
                                        <td class="better-ranking-score">64</td>
                                    </tr>
                                    <tr>
                                        <td class="better-ranking-rank">5</td>
                                        <td class="better-ranking-name">Papa Puert</td>
                                        <td class="better-ranking-score">32</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div>
                    <section>
                        <h2>Group Stage 1</h2>
                    </section>
                    <div class="group-stage-container">
                        <table class="group-table">
                            <thead>
                                <tr>
                                    <th class="group-name-header" colspan="4">Group A - BO6</th>
                                </tr>
                                <tr>
                                    <th class="group-time-header" colspan="4">November 11, 2017 - 17:10 CET</th>
                                </tr>
                                <tr>
                                    <th class="group-time-header" colspan="4">Locked</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="group-player-rank group-color-green">1</td>
                                    <td class="group-player-name group-color-green">Idra</td>
                                    <td class="group-player-score group-color-green">2-0</td>
                                    <td class="group-player-matches group-color-green">6-1</td>
                                </tr>
                                <tr>
                                    <td class="group-player-rank group-color-green">2</td>
                                    <td class="group-player-name group-color-green">Jaedong</td>
                                    <td class="group-player-score group-color-green">2-1</td>
                                    <td class="group-player-matches group-color-green">6-4</td>
                                </tr>
                                <tr>
                                    <td class="group-player-rank group-color-red">3</td>
                                    <td class="group-player-name group-color-red">Harstem</td>
                                    <td class="group-player-score group-color-red">1-2</td>
                                    <td class="group-player-matches group-color-red">5-6</td>
                                </tr>
                                <tr>
                                    <td class="group-player-rank group-color-red">4</td>
                                    <td class="group-player-name group-color-red">Stephano</td>
                                    <td class="group-player-score group-color-red">0-2</td>
                                    <td class="group-player-matches group-color-red">0-6</td>
                                </tr>
                            </tbody>
                        </table>
                        <table>
                            <thead>
                                <tr>
                                    <th class="group-name-header" colspan="4">Group B - BO1337</th>
                                </tr>
                                <tr>
                                    <th class="group-time-header" colspan="4">November 11, 2017 - 20:30 CET</th>
                                </tr>
                                <tr>
                                    <th class="group-time-header" colspan="4">Open: 02:28 min</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="group-player-rank group-color-green">1</td>
                                    <td class="group-player-name group-color-green">Incontrol</td>
                                    <td class="group-player-score group-color-green">2-0</td>
                                    <td class="group-player-matches group-color-green">6-1</td>
                                </tr>
                                <tr>
                                    <td class="group-player-rank group-color-green">2</td>
                                    <td class="group-player-name group-color-green">Najsmajz</td>
                                    <td class="group-player-score group-color-green">2-1</td>
                                    <td class="group-player-matches group-color-green">6-4</td>
                                </tr>
                                <tr>
                                    <td class="group-player-rank group-color-red">3</td>
                                    <td class="group-player-name group-color-red">Wardi</td>
                                    <td class="group-player-score group-color-red">1-2</td>
                                    <td class="group-player-matches group-color-red">5-6</td>
                                </tr>
                                <tr>
                                    <td class="group-player-rank group-color-red">4</td>
                                    <td class="group-player-name group-color-red">dApollo</td>
                                    <td class="group-player-score group-color-red">0-2</td>
                                    <td class="group-player-matches group-color-red">0-6</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <section>
                        <h2>Group Stage 2</h2>
                    </section>
                    <div class="group-stage-container">
                    </div>
                </div>
                <div>
                    <section>
                        <h2>Bracket</h2>
                    </section>
                    <div id="bracket"></div>
                    <div id="detailed-match" class="detailed-match">
                        <div class="detailed-match-player"></div>
                        <div class="detailed-match-player"></div>
                    </div>
                    <script src="../javascript/bracket.js"></script>
                </div>
            </div>
            <div class="tournament-information">
                <section>
                    <h2>Information</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet massa a purus facilisis tempus eu porta ante. Vivamus euismod, felis eu tempor vestibulum, nibh risus efficitur metus, vitae bibendum eros tellus at nulla. Praesent laoreet lectus in purus pulvinar, id sollicitudin ligula scelerisque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nec porta nisl. Phasellus hendrerit augue ac sodales ullamcorper. Integer iaculis nulla turpis, vitae pulvinar enim cursus vel.</p>
                </section>
            </div>
        </div>
        <div class="footer">
            <p>Footer</p>
        </div>
    </div>
</body>
</html>
