<!DOCTYPE html>
<html>
<head>
    <title>BHA-betting</title>
    <meta charset="utf-8">
    <meta name="description" content="Place your bets bois!">
    <link rel="stylesheet" href="../css/active_tournaments.css">
    <script src="../javascript/jquery-3.3.1.js"></script>
    <script src="../packages/jquery_bracket/jquery.bracket.min.js"></script>
    <link rel="stylesheet" href="../packages/jquery_bracket/jquery.bracket.min.css">
</head>
<body>
    <div class="column-container" style="">
        <div class="header">
            <button class="header-button">Inställningar</button>
            <button class="header-button">Logga ut</button>
        </div>
        <div class="navigation">
            <img src="../resources/logo.png" alt="Fett med både syra å fett med spray!">
            <div class="tab-container">
                <button class="tab">Turneringar</button>
                <button class="tab">Skapa turnering</button>
            </div>
        </div>
        <div class="row-container">
            <div class="tournament-list-container">
                <div class="tournament-list-item">Deltagande</div>
                <a href="">WCS 2018</a>
                <a href="">Africa E-leage</a>
                <div class="tournament-list-item">Öppna</div>
                <a href="">LCS 2018</a>
                <a href="">TI 45</a>
                <a href="">Top Quality Kek</a>
                <div class="tournament-list-item">Klara</div>
                <a href="">Meme Open</a>
            </div>
            <div class="tournament-container">
                <div class="tournament-header-container">
                    <div class="tournament-rankings">
                        <section>
                            <h2>Ranking</h2>
                        </section>
                        <table>
                            <thead>
                                <tr>
                                    <th class="ranking-header-cell">Rank</th>
                                    <th class="ranking-header-cell">Namn</th>
                                    <th class="ranking-header-cell">Poäng</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="ranking-cell-rank ranking-gold">1</td>
                                    <td class="ranking-cell-name ranking-gold">Hunden</td>
                                    <td class="ranking-cell-points ranking-gold">512</td>
                                </tr>
                                <tr>
                                    <td class="ranking-cell-rank ranking-silver">2</td>
                                    <td class="ranking-cell-name ranking-silver">Bönis</td>
                                    <td class="ranking-cell-points ranking-silver">256</td>
                                </tr>
                                <tr>
                                    <td class="ranking-cell-rank ranking-bronze">3</td>
                                    <td class="ranking-cell-name ranking-bronze">Guggmeister</td>
                                    <td class="ranking-cell-points ranking-bronze">128</td>
                                </tr>
                                <tr>
                                    <td class="ranking-cell-rank">4</td>
                                    <td class="ranking-cell-name">Stålberto</td>
                                    <td class="ranking-cell-points">64</td>
                                </tr>
                                <tr>
                                    <td class="ranking-cell-rank">5</td>
                                    <td class="ranking-cell-name">Papa Puert</td>
                                    <td class="ranking-cell-points">32</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div>
                    <div>
                        <section>
                            <h2>Bracket</h2>
                        </section>
                        <div id="detailed-match" class="detailed-match">
                            <div class="detailed-match-player"></div>
                            <div class="detailed-match-player"></div>
                        </div>
                        <div id="bracket"></div>
                        <script src="../javascript/jq_bracket_test.js"></script>
                        <script src="../javascript/detailed_match.js"></script>
                    </div>
                </div>
            </div>
            <div class="tournament-information">
                <section>
                    <h2>Information</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet massa a purus facilisis tempus eu porta ante. Vivamus euismod, felis eu tempor vestibulum, nibh risus efficitur metus, vitae bibendum eros tellus at nulla. Praesent laoreet lectus in purus pulvinar, id sollicitudin ligula scelerisque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nec porta nisl. Phasellus hendrerit augue ac sodales ullamcorper. Integer iaculis nulla turpis, vitae pulvinar enim cursus vel.</p>
                </section>
            </div>
        </div>
    </div>
</body>
</html>
