<!DOCTYPE html>
<html>
<head>
    <title>BHA-betting</title>
    <meta charset="utf-8">
    <meta name="description" content="Place your bets bois!">
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
	<div class="flex-container" style="flex-direction: column;">
		<div>
			<img src="../resources/logo.png" alt="Fett med både syra å fett med spray!">
		</div>
		<div>
			<div class="input-container">
				<label for="email">Email:</label>
				<input type="email" name="email" id="email" placeholder="Enter your email">
			</div>
			<div class="input-container">
				<label for="password">Password:</label>
				<input type="password" name="password" id="password" placeholder="Enter password">
			</div>
			<div class="button-container">
				<button>Login</button>
			</div>
		</div>
	</div>
</body>
</html>
