<!DOCTYPE html>
<html>
<head>
    <title>BHA-betting</title>
    <meta charset="utf-8">
    <meta name="description" content="Place your bets bois!">
    <link rel="stylesheet" href="../css/better_table.css">
    <link rel="stylesheet" href="../css/group_stage.css">
    <link rel="stylesheet" href="../css/detailed_match.css">
    <link rel="stylesheet" href="../css/bracket_only_creation.css">
    <link rel="stylesheet" href="../css/group_before_bracket_creation.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../packages/jquery_bracket/jquery.bracket.min.css">
    <script src="../js/jquery-3.3.1.js"></script>
    <script src="../packages/jquery_bracket/jquery.bracket.min.js"></script>
    <script src="../js/common.js"></script>
</head>
<body>
    <div class="page-container">
        <header class="header">
            <button class="header-button">Inställningar</button>
            <button class="header-button">Logga ut</button>
        </header>
        <nav class="navigation">
            <img src="../resources/logo.png" alt="Fett med både syra å fett med spray!">
            <div class="tab-container">
                <div id="bracket-only-tab" class="tab">Create Bracket Only</div>
                <div id="group-before-bracket-tab" class="tab">Create Group/Bracket</div>
                <div id="forum-tab" class="tab">Forum</div>
                <div id="only-tacos-here-tab" class="tab">Endast Tacos här</div>
            </div>
        </nav>
        <script src="../js/page_switcher.js"></script>
        <div class="main">
            <div class="tournament-list-container">
                <div class="tournament-list-item">Deltagande</div>
                <a href="">WCS 2018</a>
                <a href="">Africa E-leage</a>
                <div class="tournament-list-item">Öppna</div>
                <a href="">LCS 2018</a>
                <a href="">TI 45</a>
                <a href="">Top Quality Kek</a>
                <div class="tournament-list-item">Klara</div>
                <a href="">Meme Open</a>
            </div>
            <div id="tournament-page" class="page">
                <div class="tournament-container">
                    <div class="tournament-elements">
                        <section>
                            <h2>Ranking</h2>
                        </section>
                        <div class="better-ranking-container">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Rank</th>
                                        <th>Namn</th>
                                        <th>Poäng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="better-ranking-rank better-ranking-gold">1</td>
                                        <td class="better-ranking-name better-ranking-gold">Hunden</td>
                                        <td class="better-ranking-score better-ranking-gold">512</td>
                                    </tr>
                                    <tr>
                                        <td class="better-ranking-rank better-ranking-silver">2</td>
                                        <td class="better-ranking-name better-ranking-silver">Bönis</td>
                                        <td class="better-ranking-score better-ranking-silver">256</td>
                                    </tr>
                                    <tr>
                                        <td class="better-ranking-rank better-ranking-bronze">3</td>
                                        <td class="better-ranking-name better-ranking-bronze">Guggmeister</td>
                                        <td class="better-ranking-score better-ranking-bronze">128</td>
                                    </tr>
                                    <tr>
                                        <td class="better-ranking-rank">4</td>
                                        <td class="better-ranking-name">Stålberto</td>
                                        <td class="better-ranking-score">64</td>
                                    </tr>
                                    <tr>
                                        <td class="better-ranking-rank">5</td>
                                        <td class="better-ranking-name">Papa Puert</td>
                                        <td class="better-ranking-score">32</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <section>
                            <h2>Group Stage 1</h2>
                        </section>
                        <div class="group-stage-container">
                            <div class="group-frame">
                                <div class="group-header">Group A - BO6</div>
                                <div class="group-sub-header">November 11, 2017 - 17:10 CET</div>
                                <div class="group-sub-header">Locked</div>
                                <div class="group-player-row-container">
                                    <div class="group-player-row">
                                        <div class="group-player-rank group-color-green">1</div>
                                        <div class="group-player-name group-color-green">Idra</div>
                                        <div class="group-player-score group-color-green">2-0</div>
                                        <div class="group-player-matches group-color-green">6-1</div>
                                    </div>
                                </div>
                                <div class="group-player-row-container">
                                    <div class="group-player-row">
                                        <div class="group-player-rank group-color-green">2</div>
                                        <div class="group-player-name group-color-green">Jaedong</div>
                                        <div class="group-player-score group-color-green">2-1</div>
                                        <div class="group-player-matches group-color-green">6-4</div>
                                    </div>
                                </div>
                                <div class="group-player-row-container">
                                    <div class="group-player-row">
                                        <div class="group-player-rank group-color-red">3</div>
                                        <div class="group-player-name group-color-red">Harstem</div>
                                        <div class="group-player-score group-color-red">2-0</div>
                                        <div class="group-player-matches group-color-red">5-6</div>
                                    </div>
                                </div>
                                <div class="group-player-row-container">
                                    <div class="group-player-row">
                                        <div class="group-player-rank group-color-red">4</div>
                                        <div class="group-player-name group-color-red">Stephano</div>
                                        <div class="group-player-score group-color-red">0-2</div>
                                        <div class="group-player-matches group-color-red">0-6</div>
                                    </div>
                                </div>
                            </div>
                            <div class="group-frame">
                                <div class="group-header">Group B - BO1337</div>
                                <div class="group-sub-header">November 11, 2017 - 20:30 CET</div>
                                <div class="group-sub-header">Open: 02:28 min</div>
                                <div class="group-player-row-container">
                                    <div class="group-player-row">
                                        <div class="group-player-rank group-color-green">1</div>
                                        <div class="group-player-name group-color-green">Incontrol</div>
                                        <div class="group-player-score group-color-green">2-0</div>
                                        <div class="group-player-matches group-color-green">6-1</div>
                                    </div>
                                </div>
                                <div class="group-player-row-container">
                                    <div class="group-player-row">
                                        <div class="group-player-rank group-color-green">2</div>
                                        <div class="group-player-name group-color-green">Najsmajz</div>
                                        <div class="group-player-score group-color-green">2-1</div>
                                        <div class="group-player-matches group-color-green">6-4</div>
                                    </div>
                                </div>
                                <div class="group-player-row-container">
                                    <div class="group-player-row">
                                        <div class="group-player-rank group-color-red">3</div>
                                        <div class="group-player-name group-color-red">Wardi</div>
                                        <div class="group-player-score group-color-red">2-0</div>
                                        <div class="group-player-matches group-color-red">5-6</div>
                                    </div>
                                </div>
                                <div class="group-player-row-container">
                                    <div class="group-player-row">
                                        <div class="group-player-rank group-color-red">4</div>
                                        <div class="group-player-name group-color-red">dApollo</div>
                                        <div class="group-player-score group-color-red">0-2</div>
                                        <div class="group-player-matches group-color-red">0-6</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <script src="../js/player_highlighter.js"></script>
                        <script src="../js/player_bet_window.js"></script>
                        <section>
                            <h2>Bracket</h2>
                        </section>
                        <div id="bracket"></div>
                        <div id="detailed-match" class="detailed-match">
                            <div class="detailed-match-player"></div>
                            <div class="detailed-match-player"></div>
                        </div>
                        <script src="../js/bracket.js"></script>
                    </div>
                    <div class="tournament-information">
                        <section>
                            <h2>Information</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet massa a purus facilisis tempus eu porta ante. Vivamus euismod, felis eu tempor vestibulum, nibh risus efficitur metus, vitae bibendum eros tellus at nulla. Praesent laoreet lectus in purus pulvinar, id sollicitudin ligula scelerisque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nec porta nisl. Phasellus hendrerit augue ac sodales ullamcorper. Integer iaculis nulla turpis, vitae pulvinar enim cursus vel.</p>
                        </section>
                    </div>
                </div>
            </div>
            <div id="bracket-only-page" class="page">
                Creating bracket only
            </div>
            <div id="group-before-bracket-page" class="page">
                <div class="creation-control-panel-column">
                    <div class="creation-control-panel">
                        <label>Tournament Name:</label>
                        <input type="text"></input>
                    </div>
                    <div class="creation-control-panel">
                        <label>Enable Hunden:</label>
                        <input type="checkbox"></input>
                    </div>
                </div>
                <div class="creation-stage-container"></div>
                    <div class="creation-control-panel-column">
                        <div class="creation-control-panel">
                            <div id="add-stage" class="creation-stage-button blue-button">Add Stage</div>
                            <div id="create-tournament" class="creation-stage-button orange-button">Create tournament</div>
                        </div>
                    </div>
                </div>
                </div>
                <script src="../js/value_setting.js"></script>
                <script src="../js/group_creation.js"></script>
                <script src="../js/stage_creation.js"></script>
            </div>
        </div>
        <footer class="footer">
            <p>Footer</p>
        </footer>
    </div>
</body>
</html>
